
.angular-range-slider {
  -webkit-user-select: none;
}
.angular-range-slider-range {
  position: relative;
  margin: 30px 0;
}
.angular-range-slider-track {
  height: 5px;
  border-radius: 2px;
  background-color: #999;
}
.angular-range-slider-handle {
  position: absolute;
  height: 0;
  width: 0;
  border: 15px solid transparent;
  border-left-width: 8px;
  border-right-width: 8px;
  transform: translateX(-50%);
  cursor: col-resize;
  top: -8px;
  border-bottom-color: #666;
}
.angular-range-slider-handle i {
  display: none;
  position: relative;
  padding: 0.2em 0.5em;
  border-radius: 3px;
  background-color: #494949;
  color: white;
  font-style: normal;
  font-size: 0.8em;
  transform: translate(-50%, -35px);
}
.angular-range-slider-values {
  overflow: hidden;
}
.angular-range-slider-values ul {
  list-style-type: none;
}
.angular-range-slider-values li {
  float: left;
}
.angular-range-slider-values .invalid {
  color: red;
}